@import "tailwindcss";

@theme {
  --color-primary: oklch(58.41% 0.232 283.19);
  --color-text-gray: oklch(52.78% 0.037 304.86);
  --color-text-black: oklch(23.51% 0.029 313.23);
  --color-bg-gray-100: oklch(98.81% 0.000 0);
  --color-border-gray-100: oklch(67.60% 0.032 310.00);
  --color-dark: oklch(22.64% 0.000 0);
}
html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.shadow-input-active {
  box-shadow: 0 4px 10px 0 rgba(157, 146, 166, 0.20);
}
